COLLABBOARD_DB_URL=jdbc:mysql://localhost:3306/collabboard?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
COLLABBOARD_DB_USERNAME=root
COLLABBOARD_DB_PASSWORD=
COLLABBOARD_JWT_SECRET=replace-with-at-least-32-random-characters
COLLABBOARD_JWT_ACCESS_TOKEN_SECONDS=3600
COLLABBOARD_DDL_AUTO=update
COLLABBOARD_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
PORT=8081
VITE_API_URL=http://localhost:8081
